<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div>
    <% @post.images.each do |image| %>
      <%= image_tag image, class: "d-block w-100", style: "max-height: 100%; object-fit: cover;" if image.present? %>
    <% end %>
    <%= render "form", post: @post %>
  </div>
</div>