*
{
  font-family: Montserrat,Sans-serif;
}

html {
    height: 100vh;
  }

body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

.scroll-config {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.no-outline {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.color-red {
  color: red;
}

.fa-regular:hover {
  transform: scale(1.2); /* Ajuste conforme necessário */
}

.dropdown-menu.no-bullets {
  list-style-type: none;
}

.green-background {
  background-color: #28a811;
  color: #fff;
}

.green-background:hover
{
  background-color: #1f860d;
  color: #fff;
}

.green-color {
  color: #28a811;
}

.blue-color
{
  color: #003a81;
}

.blue-color:hover
{
  color: #002a5e;
}

.blue-text {
  color: #003a81;
}

.blue-text:hover {
  color: #28a811;
}


.bg-color {
  background-color: #003a81; /* Azul */
  color: #fff;
}

.bg-color:hover {
  background-color: #28a811; /* Cor da borda azul */
  color: #fff;
}

.no-underline {
  text-decoration: none;
}