html {
    height: 100vh;
  }

body
{
    background-color: #1f2937;
    color: white;
    height: 100%;
}

.nav-bg
{
  background-color: #121821;
}

.no-outline {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}